.skills{
max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.child:hover{
    opacity: 0.5;
}

@media (min-width: 600px) {
    .skills { grid-template-columns: repeat(2, 1fr); }
  }
@media (min-width: 900px) {
    .skills { grid-template-columns: repeat(3, 1fr); }
  }