.App {
  text-align: center;
  background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;300;600;800&family=Source+Code+Pro:wght@200&display=swap');


/* #reactEL{
  margin-top: 0.5em;
  padding-left: 10px;
  width: 60px;
} */