* {
    box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Code Pro', monospace;
  --ff-secondary: 'Anek Latin', sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #1A1B21;
  --clr-back: #23252C;
  --clr-highlight: #F3BF99;
  --clr-accent: #5093E2;

  --fs-h1: 2rem;
  --fs-h2: 1rem;
  --fs-h3: 0.8rem;
  --fs-body: 0.5rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}


body{
    font-family: var(--ff-primary);
    background-color: #485461;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    margin: 0 auto;
    text-align: center;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}






